{% extends "base.html" %}



{% block content %}

<div class="card bg-light">
<article class="card-body mx-auto" style="max-width: 400px;">
	<h4 class="card-title mt-3 text-center">Create Account</h4>

	<form action="" method="post">
                {{ form.hidden_tag() }}
	<div class="form-group input-group">
		<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
		 </div>
        {{ form.username(class="form-control", placeholder="Username") }}
    </div> <!-- form-group// -->
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
		 </div>
 <!--       <input name="" class="form-control" placeholder="Email address" type="email"> -->
        {{ form.email(class="form-control", placeholder="Email address") }}
    </div> <!-- form-group// -->
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
		</div>
 <!--       <input class="form-control" placeholder="Create password" type="password"> -->
        {{ form.password(class="form-control", placeholder="Create password") }}
    </div> <!-- form-group// -->
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
		</div>
  <!--      <input class="form-control" placeholder="Repeat password" type="password"> -->
        {{ form.password2(class="form-control", placeholder="Repeat password") }}
    </div> <!-- form-group// -->
    <div class="form-group">
    <!--    <button type="submit" class="btn btn-primary btn-block"> Create Account  </button> -->
        {{ form.submit(class="btn btn-primary btn-block") }}
    </div> <!-- form-group// -->
    <p class="text-center">Have an account? <a href="http://127.0.0.1:5000/auth/login">Log In</a> </p>
</form>
</article>
</div> <!-- card.// -->

</div>
<!--container end.//-->

{% endblock %}