<!DOCTYPE html>
<html lang="en">

<head>
     {% block head %}
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/background.css">
   {% block imports %}
   {% endblock %}
    <style>
        {% block style %}
        {% endblock %}
    </style>
     {% endblock %}
</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">

  <div class="container">
    <a class="navbar-brand" href="{{ url_for('auth.login') }}">Let's think!</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  </div>
</nav>
{% block navitems %}

       {% endblock %}
<!-- Full Page Image Background with Vertically Centered Content -->
<div class="masthead">
     {% block content %}

       {% endblock %}
</div>


</body>
</html>